
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

/* body{
  padding: 30px 20px;
} */
#report-section {
  background: url(../public/whatspabg.jpg);
}
.overlay{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.823), rgba(83, 83, 83, 0.5));
}
.font-libre {
  font-family: 'Libre Baskerville', serif;
}
.bg-green-whatsap {
  background: rgb(28, 74, 51);
}

.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.bg-genie {
  background-color: #649DAD;
}
.bg-genie-hard {
  background-color: #417482;
}
.transparent {
  background: rgba(0, 0, 0, 0.374);
}
#home-bg{
  background: url(../public/independance2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#report-dv{
  background: url(../public/independance1.jpg);
  background-size: cover;
  color: black;
}
#admin-dv{
  background: url(../public/independance1.jpg);
  background-size: cover;
  color: black;
}